{% extends 'base.html.twig' %}

{% block titrePage %}
Panier
{% endblock %}

{% block menu %}
{% if action == "assoiffe" %}
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href={{path('accueil_assoiffe')}}>Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        
      </ul>
      
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/assoiffe/panier">
            <i class="icon-shopping-basket"></i>
            Mon panier
            <span class="sr-only">(current)</span>
          </a>
        </li>
        
        
      </ul>
      
    </div>
  </nav>
  
{% endif %}
{% endblock %}
{% block contenu %}
    {% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th> Produit </th>
                <th> Prix </th>
                <th> Quantité </th>
                <th> Total </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr></tr>
            <td>{{item.produit.nom}}</td>
            <td>{{item.produit.prix}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.produit.prix * item.quantity}}€</td>
            <td>
                {% if action == "assoiffe" %}
                <a href="{{ path('panier_remove', {'id' : item.produit.id}) }}" style="color: red">
                <i class="icon-trash"></i>
            </a>
            {% endif %}

        </td>
        {% endfor  %}
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class = "text-right"> Total : </td>
            <td> {{total}} €</td>
            <td></td>
        </tr>
    </tfoot>
</table>

{% endif %}
{% if action == "assoiffe" %}
<a class="btn btn-success btn-lg btn-block"  href="/assoiffe/panier/payer" role="button">Payer</a>
{% else %}
<center>
    <strong>Commande n° 4096</strong><br><br>
<a class="btn btn-success "  href="{{path('accueil_assoiffeur')}}" role="button">Commande prête</a>
</center>
{% endif %}

{% endblock %}
