{% extends 'assoiffeur/baseassoiffeur.html.twig' %}

{% block title %}TypeProduit index{% endblock %}

{% block contenu %}
    <h1>TypeProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_produit in type_produits %}
            <tr>
                <td>{{ type_produit.id }}</td>
                <td>{{ type_produit.nom }}</td>
                <td>
                    <a href="{{ path('type_produit_show', {'id': type_produit.id}) }}">show</a>
                    <a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_produit_new') }}">Create new</a>
{% endblock %}
