{% extends 'base.html.twig' %}

{% block menu %}
{% if action == "assoiffe" %}
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="#">Mes commandes </a>
        </li>     
      </ul>
      
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/panier">
            <i class="icon-shopping-basket"></i>
            Mon panier
            <span class="sr-only">(current)</span></a>
          </li>
          
          
        </ul>
        
      </div>
    </nav>
  </div>
</div>
</div>
 
</div>

{% else %}
<div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
              <a class="nav-link" href={{path('type_produit_index')}}> Accueil </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href={{path('produit_index')}}>Mes produits </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href='#'>Mes promotions</a>
            </li>

            
          </ul>



        </div>
      </nav>
    </div>
  </div>
</div>

</div>
{% endif %}
{% endblock %}

{% block titrePage %}
Types de produits
{% endblock %}

{% block contenu %}
<h1>TypeProduit</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Nom</th>
        </tr>
    </thead>
    <tbody>
        <td>
            {{ type_produit.nom }}
        </td>
           
        <tr>
          <td><h3>Produits</h3> </td>  
            {% for produit_Courant in type_produit.produits %}
            
            <td>
                <a href="{{path('produit_show',{id:produit_Courant.id},{produits:produit_Courant.nom})}}">
                    {{ produit_Courant.nom }}
                </a>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>  
<a href="{{ path('type_produit_index') }}">Revenir à la liste des types de produits</a> <br>

<a href="{{ path('type_produit_edit', {'id': type_produit.id}) }}">Editer</a>

{{ include('type_produit/_delete_form.html.twig') }}
{% endblock %}
